
<a href="#who">test</a><a data-scroll href="#service">test2</a>
<div class="slicksize carousel" >
  <slick infinite="true" slides-to-show="1" slides-to-scroll="1"  autoplay="true" arrows="false">
    <div><img class="cimgz" src="../images/intro.jpg" alt=""></div>
    <div><a  ui-sref="workoutsIndex"><img class="cimgz" src="../images/weights.jpg" alt=""></a></div>
    <div><a  ui-sref="dietsIndex"><img class="cimgz" src="../images/diets.jpg" alt=""></a></div>
    <div><a  ui-sref="aboutIndex"><img class="cimgz" src="../images/motivation.jpg" alt=""></a></div>
  </slick>
</div>
<div class="wrapping">
<div class="cont who" id="who">
hellloooooooo</div>
<a href="#"></a>
</div>
<div class="cont service" id="service">
  hello there
</div>
<a href="#"></a>

<div class="cont nutrition" id="">
  hello there
</div>
<a data-scroll href="#footer">up</a>
<div class="cont" id="s">
  hello there
</div>
<a href="#"></a>

<div class="cont" id="2">
  hello there
</div>
<a href="#"></a>

<div class="cont" id="3">
  hello there
</div>
<a href="#"></a>
<div class="cont" id="4">
  hello there
</div>
<a data-scroll href="#up">up</a>
