<div class="slicksize carousel wrapping" >
  <slick infinite="true" slides-to-show="1" slides-to-scroll="1"  autoplay="true" arrows="false">
    <div><img class="cimgz" src="../images/intro.jpg" alt=""></div>
    <div><a  ui-sref="workoutsIndex"><img class="cimgz" src="../images/weights.jpg" alt=""></a></div>
    <div><a  ui-sref="nutritionsIndex"><img class="cimgz" src="../images/diets.jpg" alt=""></a></div>
    <div><a  ui-sref="aboutIndex"><img class="cimgz" src="../images/motivation.jpg" alt=""></a></div>
  </slick>
</div>
<div class="mw5 mw7-ns center bg-light-gray pa3 ph5-ns tc avenir">
  <p>TRUSTED BY THE WORLD’S BEST</p>
  <p>Working with the best to offer you a great service</p>
  <div class=" center" >
    <slick infinite="true" slides-to-show="5" center="true"  slides-to-scroll="1"  autoplay="true" arrows="false">
      <div><img class="trust" src="../images/1.png" alt=""></div>
      <div><img class="trust" src="../images/2.png" alt=""></div>
      <div><img class="trust" src="../images/3.png" alt=""></div>
      <div><img class="trust" src="../images/4.png" alt=""></div>
      <div><img class="trust" src="../images/5.png" alt=""></div>
      <div><img class="trust" src="../images/6.png" alt=""></div>
      <div><img class="trust" src="../images/7.png" alt=""></div>
      <div><img class="trust" src="../images/8.png" alt=""></div>
    </slick>
  </div>
</div>
<div class="cont  wrapping" id="enjoy">
</div>
<div class="mw5 mw7-ns center bg-light-gray pa3 ph5-ns tc avenir">
  <p><strong>THE POSSIBILITIES ARE ENDLESS</strong></p>
  <p>Whether you’re a Bodybuilder, Yoga lover, Crossfiter or any other type of fit people we’ll help you to acheive your goal, keep you motivated, and guide you the right path.</p>
  <p></p>

  </div>
<div class="cont  wrapping" id="brand">
</div>
