<form ng-submit="vm.register()" name="vm.registerForm" class="measure center" novalidate>
  <h1>Register</h1>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="username">Username</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="username" ng-model="vm.user.username" placeholder="JohnDoe" required>
  </div>
  <div class="ng-message-error" ng-messages="vm.registerForm.username.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.username.$touched)">
    <p ng-message="required">This field is required</p>
  </div>

  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="Image">Image</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="image" ng-model="vm.user.image" placeholder="Paste Image address here">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="email">Email</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="email" ng-model="vm.user.email" ng-pattern="vm.emailValidate" placeholder="e.g. john@email.com" required>
  </div>
  <div class="ng-message-error" ng-messages="vm.registerForm.email.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.email.$touched)">
    <p ng-message="required">This field is required</p>
    <p ng-message="pattern">Please enter a valid email address</p>
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="password">Password</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password" ng-model="vm.user.password" placeholder="Must be 6 characters long" required minlength="6">
  </div>
  <div class="ng-message-error" ng-messages="vm.registerForm.password.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.password.$touched)">
    <p ng-message="required">This field is required</p>
    <p ng-message="minlength">Your password must be at least 6 characters</p>
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="password_confirmation">Password Confirmation</label>
    <input class="pl pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password_confirmation" ng-model="vm.user.password_confirmation" placeholder="Password confirmation" required ng-pattern="vm.user.password">
  </div>
  <div class="ng-message-error" ng-messages="vm.registerForm.password_confirmation.$error" ng-show="(vm.registerForm.$submitted || vm.registerForm.password_confirmation.$touched)">
    <p ng-message="required">This field is required</p>
    <p ng-message="pattern">This must match your password</p>
  </div>
  <input class="b ph3 pv2 input-reset ba bg-transparent grow pointer f6 dib apply-btn" type="submit" value="Register">
  <div class="mv3">
    <p>Already have an account?</p><a ui-sref="login" class="f6 link dim black">Log in</a>
  </div>
</form>
