<div class="mw6 center tc">
  <div class=" pa3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
    <input type="text" class="search f6 fw4" ng-model="main.q" placeholder="Search...">
    <input class="level" type="checkbox" ng-model="main.useLevel"><br>
    <label class="level f10 fw4" for="level">Difficulty Level: {{main.level}}</label>
    <input type="range" ng-model="main.level" min="1" max="4"  ng-disabled="!main.useLevel"><br>  <img src="../images/easy.png" class="dif fl" alt="">
    <img src="../images/medium.png" class="dif marg" alt="">
    <img src="../images/hard.png" class="dif" alt="">
    <img src="../images/beast.png" class="dif fr" alt="">
  </div>

  <div class="relative mt3">
    <label class="f10 fw4" for="bodypart">Select bodypart</label><br>
    <img class="muscle human" src="../images/human.png" alt="">
    <img class="muscle part absolute biceps zo" src="../images/biceps.png" for="r1" alt="biceps" ng-click="main.biceps()">
    <img class="muscle part absolute legs zo" src="../images/legs.png" for="r2" alt="legsback" ng-click="main.legs()">
    <img class="muscle part absolute chest zo" src="../images/chest.png" for="r3" alt="chest" ng-click="main.chest()">
    <img class="muscle part absolute abs zo" src="../images/abs.png" for="r4" alt="abs" ng-click="main.abs()">
    <img class="muscle part absolute shoulders zo" src="../images/shoulders.png" for="r5" alt="shoulder" ng-click="main.shoulders()">
    <img class="muscle part absolute triceps zo" src="../images/triceps.png" for="r6" alt="triceps" ng-click="main.triceps()">
    <img class="muscle part absolute back zo" src="../images/back.png" for="r7" alt="back" ng-click="main.back()">
  </div>
  <div class=" pa3 ba bl-0 bb-0 br-0 b--dotted b--black-30">
    <button class="b ph3 f6 fw4 pv2 input-reset ba bg-transparent grow pointer f6 dib apply-btn generate tc" type="button" ng-click="main.filterExercises()" name="generate" id="submitButton">Generate</button><br>
  </div>


  <div class=" mw6 bodypart ">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="1" id="r1" checked="checked">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="2" id="r2">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="3" id="r3">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="4" id="r4">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="5" id="r5">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="6" id="r6">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="7" id="r7">
  </div>
</div>
<div id="show">
  <div ng-if="main.final && main.ready">
    <slick infinite="true" slides-to-show="1" init-onload="true" data="main.final" slides-to-scroll="1"  class="bbg-white center mw6 ba b--black-10 mv4">
      <div ng-repeat="exercise in main.final track by $index" >
        <div class="tc bb">
          <h1 class="f6 ttu tracked tc">{{ exercise.name | uppercase}}</h1>
        </div>
        <img class="w-100 db bb" ng-src="{{ exercise.image }}" alt="{{ exercise.name }}" >
        <div class="pa2 ">
          <div class=" tr ba bl-0 bt-0 br-0 b--dotted b--black-30">
            <p class="f5"><strong>Rep: </strong>{{ exercise.rep }}</p>
          </div>
          <p class="ff4 lh-copy measure">
            <strong>How to: </strong>{{ exercise.desc}}...
          </p>
        </div>
        <div class="center ">
              <a href="#"><img src="../images/add.png" ng-click="vm.addFav(exercise)" class="button link tc ph3 pv1 db white f6 br1"></a>
        </div>
      </div>
    </slick>
  </div>
</div>
