<div class="mw6 center ">

  <input type="text" class="search" ng-model="main.q" placeholder="Search..."><br>
  <button type="button" ng-click="main.filterExercises()" name="generate" id="submitButton">generate</button><br>
  <input type="checkbox" id="level" ng-model="main.useLevel">
  <label for="level">level</label><br>
  <input type="range" ng-model="main.level" min="1" max="4"  ng-disabled="!main.useLevel"><br>
  <label for="bodypart">Select bodypart</label><br>

  <div class="relative">
    <img class="human" src="../images/human.png" alt="">

    <img class="part absolute biLeft zo" src="../images/biceps-left.png" for="r1" alt="leftbiceps" ng-click="main.biceps()">

    <!-- <img class="part absolute biRight zo" src="../images/biceps-right.png" for="r1" alt="rightbiceps" ng-click="main.biceps()"> -->

    <img class="part absolute legsBack legs zo" src="../images/legs-back.png" for="r2" alt="legsback" ng-click="main.legsBack()">

    <!-- <img class="part absolute legsFront legs zo" src="../images/legs-front.png" for="r2" alt="legsfront" ng-click="main.legsBack()"> -->

    <img class="part absolute abs zo" src="../images/abs.png" for="r4" alt="abs" ng-click="main.abs()">

    <img class="part absolute chest zo" src="../images/chest.png" for="r3" alt="chest" ng-click="main.chest()">

    <img class="part absolute back zo" src="../images/back.png" for="r7" alt="back" ng-click="main.back()">

    <!-- <img class="part absolute triLeft zo" src="../images/triceps-left.png" for="r2" alt="trileft" ng-click="main.triceps()"> -->

    <img class="part absolute triRight triceps zo" src="../images/triceps-right.png" for="r6" alt="triright" ng-click="main.triceps()">



    <img class="part absolute shouldersr shoulders zo" src="../images/shoulders-right.png" for="r5" alt="triright" ng-click="main.shoulders()">



  </div>

  <div class=" mw6 bodypart ">
    <input type="radio" ng-model="main.bodypart" name="bodypart" value="1" id="r1" checked="checked">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="2" id="r2">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="3" id="r3">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="4" id="r4">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="5" id="r5">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="6" id="r6">

    <input type="radio" ng-model="main.bodypart" name="bodypart" value="7" id="r7">

  </div>

</div>





<!-- <div class="images">
<img class="part" src="../images/biceps-left.png" alt="leftbiceps">
<img class="part" src="../images/biceps-right.png" alt="rightbiceps">
<img class="part" src="../images/shoulders-left.png" alt="leftshoulder">
<img class="part" src="../images/shoulders-right.png" alt="right shoulder">
<img class="part" src="../images/leg-front.png" alt="legs front">
<img class="part" src="../images/legs-back.png" alt="legs back">
<img class="part" src="../images/back.png" alt="whole back">
<img class="part" src="../images/abs.png" alt="abs">
<img class="part" src="../images/triceps-left.png" alt="righttriceps">
<img class="part" src="../images/triceps-right.png" alt="lefttriceps">

</div> -->



<!-- <img class="part" src="../images/biceps-right.png" alt="rightbiceps">
<img class="part" src="../images/shoulders-left.png" alt="leftshoulder">
<img class="part" src="../images/shoulders-right.png" alt="right shoulder">
<img class="part" src="../images/leg-front.png" alt="legs front">
<img class="part" src="../images/legs-back.png" alt="legs back">
<img class="part" src="../images/back.png" alt="whole back">
<img class="part" src="../images/abs.png" alt="abs">
<img class="part" src="../images/triceps-left.png" alt="righttriceps">
<img class="part" src="../images/triceps-right.png" alt="lefttriceps"> -->

<div class="mw6 center" ng-repeat="exercise in main.final track by $index">
  <a class="dt w-100 bb b--black-05 pb2 mt2" ui-sref="exerciseShow({ id: {{ $index }} })">
    <div class="dtc w2 w3-ns v-mid">
      <img ng-src="{{ exercise.image }}" alt="{{ exercise.name }}"  class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
    </div>
    <div class="dtc v-mid pl3">
      <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ exercise.name | uppercase}}</h1>
      <h2 class="f6 fw4 mt0 mb0 black-60">{{ exercise.desc | limitTo : 14}}...</h2>
    </div>
    <div class="dtc v-mid">
      <form class="w-100 tr">
        <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">Favourite</button>
      </form>
    </div>
  </a>
</div>
