<div class="mw6 center">
  <input type="text" class="search" ng-model="main.q" placeholder="Search..."><br>
  <button type="button" ng-click="main.filterExercises()" name="generate" id="submitButton">generate</button><br>
  <input type="checkbox" id="level" ng-model="main.useLevel">
  <label for="level">level</label><br>
  <input type="range" ng-model="main.level" min="1" max="4"  ng-disabled="!main.useLevel"><br>
  <label for="bodypart">Select bodypart</label><br>
<div class="bodypart">
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="1" id="r1" checked="checked">
  <label class="radio bicepsfocused" for="r1" id="biceps"></label>
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="2" id="r2">
  <label class="radio legsfocused" for="r2" id="legs"></label>
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="3" id="r3">
  <label class="radio chestfocused" for="r3" id="chest"></label>
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="4" id="r4">
  <label class="radio absfocused" for="r4" id="abs"></label>
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="5" id="r5">
  <label class="radio shouldersfocused" for="r5" id="shoulders"></label>
  <input type="radio" ng-model="main.bodypart" name="bodypart" value="6" id="r6">
  <label class="radio tricepsfocused" for="r6" id="triceps"></label>
</div>
</div>

  <div   ui-sref="workoutsShow" class="mw6 center" ng-repeat="exercise in main.final">
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
    <div class="dtc w2 w3-ns v-mid">
      <img ui-sref="workoutsShow" ng-src="{{ exercise.image }}" alt="{{ exercise.name }}"  class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns"/>
    </div>
    <div class="dtc v-mid pl3">
      <h1 class="f6 f5-ns fw6 lh-title black mv0" ui-sref="workoutsShow" >{{ exercise.name | uppercase}}</h1>
      <h2 class="f6 fw4 mt0 mb0 black-60" ui-sref="workoutsShow" >{{ exercise.desc | limitTo : 14}}...</h2>
    </div>
    <div class="dtc v-mid">
      <form class="w-100 tr">
        <button class="f6 button-reset bg-white ba b--black-10 dim pointer pv1 black-60" type="submit">Favourite</button>
      </form>
    </div>
  </article>
  </div>
