<!DOCTYPE html>
<html ng-app="gymApp">
<head>
  <base href="/">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
  <meta charset="utf-8">
  <title>Angular Stack Setup</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-controller="MainCtrl as main">
  <main ui-view></main>
  <nav>
    <li ng-hide="main.user" class="navhover">
      <a ui-sref="register">Sign Up</a>
    </li>
    <li ng-hide="main.user" class="navhover">
      <a ui-sref="login" >Sign In</a>
    </li>
    <li>
      <a ng-click="main.logout()" ng-show="main.user" class="f6 fw4 hover-white-70 no-underline black-70 dib ml2 pv2 ph3 pointer nav-link pointer bl">Logout</a>
    </li>
  </nav>




  <h3>Please select Level</h3>
  <label for="">Small</label>
  <input name="size" type="radio" ng-model="vm.easy" value="easy">
  <label class="sizeText" for="">Medium</label>
  <input name="size" type="radio" ng-model="vm.medium" value="medium">
  <label class="sizeText" for="">Hard</label>
  <input name="size" type="radio" ng-model="vm.hard" value="hard"><br>
  selected level : {{ selected_level }}<br>

  <h3> Please select bodypart </h3>
  <select class="select" name="select" ng-model="selected_bodypart" ng-options="bodypart.name for bodypart in bodyparts">
    <option value=""> Please select bodypart </option>
  </select><br>
  selected body : {{ selected_bodypart.name }}<br>
  <button type="button" ng-click="getRandomIndex()" name="generate" id="submitButton">generate</button>

  <p> Name: {{ item.name }}</p>
  <p>Desc: {{ item.desc }}</p>
  <p>Repetition: {{ item.rep }}</p>
  <p>Level: {{ item.level }}</p>
  <img ng-src="{{item.image}}"><br>

</body>
</html>
