// Import all of your scss files here
.muscle {
  height:600px;
  width: 600px;
}
.part{
  width: 100px;
  height: 100px;
}
.biceps{
  top: 130px;
  left: 312px;
  width: 153px;
  height: 88px;
}

.legs{
  top: 246px;
  height: 262px;
  left: 80px;
  width: 364px;
}
.abs{
  top: 157px;
  left: 346px;
  width: 87px;
  height: 155px;
}
.zo{
  z-index: 2;
  opacity: 0;
}
.chest{
  top: 105px;
  left: 331px;
  width: 111px;
  height: 62px;
  z-index: 4;
}

.triceps {
  top: 130px;
  left: 50px;
  width: 148px;
  height: 94px;
}

.back{
  top: 53px;
  left: 74px;
  width: 98px;
  height: 201px;
}
.shoulders{
  top: 102px;
  left: 316px;
  width: 144px;
  height: 58px;
}


.biceps:hover, .legs:hover, .abs:hover, .chest:hover, .back:hover, .shoulders:hover, .triceps:hover, .opac
{
  opacity: 1;
}


.human{
  z-index: -1;
}

.bodypart .radio{

  display:inline-block;
  width:100px;
  height:100px;
  opacity: 0;
}

.bodypart input[type=radio]{
  display:none
}

.bodypart input[type=radio]:checked + .radio{
  width:150px;
  height:150px;
}

.bodypart input[type=radio]:checked + .radio{
  opacity: 1;
}

.slicksize{
  width: 100%;
  margin: 0;
}
.cimgz{
  width: 100%;
  height: 500px;
}

.cont{
  height: 400px;

}
.test{
  height:  150px;
}
#logo{
  height: 70px;
  width: 80px;
}



input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #61bdf0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #61bdf0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #61bdf0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #61bdf0;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #61bdf0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #61bdf0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #61bdf0;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #61bdf0;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #61bdf0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #61bdf0;
}
.search{
  float: right;
  border: 2px solid #61bdf0;
  border-radius: 3px
}
.level{
  text-align: center;
  float: left;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( .75 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 0.75 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1 );
  }
}


#logo:hover{
  animation: heartbeat 1.5s infinite;
}

.wrapping{
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}


.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#enjoy{
  background: url('../images/home1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 490px;

}
#brand{
  background: url('../images/brand.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
}
.trust{
  height: 100px;
  width: 100px;
}
