
<div class="tc bb">
  <div class="bbg-white center mw6 bl-0 br-0 b--black-10 mv4 mb5">
  <div ng-repeat=" fav in main.user.favs" class="bb mb6" >
    <h1 class="f6 ttu tracked tc bt mt2">{{ fav.name }}</h1>
    <img class="w-100 db" ng-src="{{ fav.image }}" alt="">
    <div class="pa2 ">
      <div class=" ba bl-0 bt-0 br-0 b--dotted b--black-30">
        <p class="f5"><strong>Rep: </strong>{{ fav.rep }}</p>
        <p class="f5"><strong>Level: </strong>{{ fav.difficulty }}</p>
        <p class="f5"><strong>Bodypart: </strong>{{ fav.muscelsname }}</p>
      </div>
      <p class="ff4 lh-copy measure">
        <strong>How to: </strong>{{ fav.desc}}...
      </p>
    </div>
<div class="center ">
   <a href="#"><img src="../images/remove.png" ng-click="main.removeFav(fav)" name="Remove" class="button link tc ph3 pv1 db white f6 br1"></a>
</div>

  </div>
  </div>
</div>
